a {
  text-decoration: none;
  text-shadow:
    1px 0 var(--main),
    0 1px var(--main),
    -1px 0 var(--main),
    -1px 1px var(--main),
    1px 1px var(--main),
    0 -1px var(--main);
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 0) 1px,
      currentColor 1px,
      rgba(0, 0, 0, 0) 2px,
      rgba(0, 0, 0, 0) 100px);

  cursor: pointer;

  color: var(--link);
  border-radius: 0.25rem;

  &::selection {
    text-decoration: underline 1px solid var(--text-contrast);
    text-shadow: none;
    background-image: none;
  }

  &:hover {
    color: var(--link-hover);
  }

  &:visited {
    color: var(--link-visited);
  }

  &:focus-visible {
    outline: 0.125rem solid var(--accent);
  }

  &.colorless {

    &,
    &:hover,
    &:visited {
      color: unset;
      text-shadow: unset;
      background-image: unset;
    }
  }
}