.difficulty {
  font-weight: 600;
  /* margin: 0 0.125rem; */

  &.basic {
    color: var(--blue)
  }

  &.easy {
    color: var(--green)
  }

  &.medium {
    color: var(--yellow)
  }

  &.hard {
    color: var(--red)
  }

  &.nightmare {
    color: var(--rose)
  }
}