p {
  padding: 0 1.25rem;
  margin: 0 0 0.45rem;

  text-wrap: pretty;

  line-height: 1.5;

  &:has(+ ul),
  &:has(+ .math) {
    margin: 0 0 0.5rem;
  }
}

.par {
  margin: 0 0 1.5rem;
}

.weak {
  color: var(--weak);
  font-weight: 400;
}

h1 {
  font-size: 1.36rem;
  margin: 2rem 0 0.875rem;
  padding: 0 1.25rem;

  scroll-margin-top: 4rem;
}

h2 {
  font-size: 1.15rem;
  margin: 0.75rem 0 0.625rem;
  padding: 0 1.25rem;

  scroll-margin-top: 4rem;
}

h2 .katex {
  font-weight: 700;
}

b .katex {
  font-weight: 700;
}