@font-face {
    font-family: 'Monospace';
    src: url('CascadiaCode-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Monospace';
    src: url('CascadiaCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Monospace';
    src: url('CascadiaCode-SemiLight.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Monospace';
    src: url('CascadiaCode-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Monospace';
    src: url('CascadiaCode-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Monospace';
    src: url('CascadiaCode-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
