* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button,
input {
  font-family: inherit;
}


body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;

  cursor: default;

  font-family: var(--font-display), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --red: #f5332b;
  --orange: #ff9507;
  --yellow: #fec900;
  --green: #2fcb37;
  --mint: #12c6bd;
  --teal: #5aacc2;
  --cyan: #56bded;
  --blue: #0078fc;
  --indigo: #5655d3;
  --purple: #ab51db;
  --pink: #fc2b54;
  --rose: #be123c;
  --gray: #8e8e91;
  --brown: #a1835e;

  --success: #22c55e;
  --error: #ef4444;
  --accent: rgb(0, 122, 255);

  --text: rgb(30, 31, 33);
  --weak: #475569;

  --link: rgb(0, 122, 255);
  --link-hover: rgb(16, 107, 204);
  --link-visited: rgb(209, 30, 235);

  --fill: rgb(252, 255, 255);
  --selected-fill: rgb(239 243 249);

  --stroke: rgb(209 213 219);
  --stroke-hover: rgb(189 193 199);

  --shadow: #6b7280;
  --interface: #6b7280;

  --box-background: #f7f7fa;
  --tooltip-background: #f3f4f6
    /* gray 10 */
}